// Place all the styles related to the Api::Offerings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offering-list {
  border: 1px solid #888;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.offering-item {
  display: flex;
  flex-flow: column;
  border: 1px solid #aaa;
  width: calc(33% - 20px);
  padding: 10px;
}
